{% extends 'main.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.number) }}
        {{ form_row(form.car) }}
        {{ form_row(form.operator) }}
        <button>click</button>
    {{ form_end(form) }}
{% endblock %}

