{% extends 'main.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.number) }}
        {{ form_row(form.cars) }}
        {{ form_row(form.operators) }}
        <button>click</button>
    {{ form_end(form) }}
{% endblock %}

